<header>
  <div class="company-logo color" [class.blue]="logoColor === '#3182ed'" [class.red]="logoColor === '#FF5733'"><span>Portfol.io</span></div>
  <nav class="navbar">
    <ul class="nav-items" >
      <li class="nav-item color" [class.blue]="logoColor === '#3182ed'" [class.red]="logoColor === '#FF5733'"><a routerLink="" class="nav-link">HOME</a></li>
      <li class="nav-item color" [class.blue]="logoColor === '#3182ed'" [class.red]="logoColor === '#FF5733'"><a routerLink="" class="nav-link">SKILLS</a></li>
      <li class="nav-item color" [class.blue]="logoColor === '#3182ed'" [class.red]="logoColor === '#FF5733'"><a routerLink="" class="nav-link">GITHUB</a></li>
      <li class="nav-item color" [class.blue]="logoColor === '#3182ed'" [class.red]="logoColor === '#FF5733'"><a routerLink="" class="nav-link">CONTACT</a></li>
    </ul>
  </nav>
  <div class="menu-toggle">
    <i class="bx bx-menu"></i>
    <i class="bx bx-x"></i>
  </div>
</header>
